.item {
    height: 20rem;
    width: 15rem;
}

.owl-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* adapted from  https://codepen.io/glebkema/pen/Xjryjd*/
/* .owl-item.active > div:after {
    content: 'active';
}
.owl-item.center > div:after {
    content: 'center';
}
.owl-item.active.center > div:after {
    content: 'active center';
} */
.owl-item > div:after {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.owl-item.active.center {
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
}
.owl-item.active {
    transform: scale(0.8);
    transition: 0.6s ease;
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.owl-prev {
	content: "<h5><</h5>";
    background-color: transparent !important;
    color: #fffaff;
    font-size: 3rem !important;
}

.owl-next {
	content: "<h5>></h5>";
    background-color: transparent !important;
    color: #fffaff;
    font-size: 3rem !important;

}

.testimonial-card {
    height: 25rem;
    width: 22rem;
}

.open-quote,
.close-quote {
    font-weight: 900;
    font-style: italic;
    position: absolute;
    font: 'Poppins';
}

.open-quote {
    top: -1.1rem;
    left: -0.7rem;
}

.close-quote {
    bottom: -2.5rem;
    right: 0px;
}
