button{
    background-color: #00D5FF;
    border: none;
    text-decoration: none;
    padding: 1.4%;
    font-family: 'Lato',sans-serif;
    text-transform: uppercase;
}
.jumbotron{
    background-image: url(../../img/home-jumbotron-bg.png);
    background-image: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
    margin-bottom: 0;
}