/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

#sub {
    font-family: 'Lato', sans-serif;
    font-weight: 400 !important;
}

.card-main {
    position: relative;
    height: 17rem;
    width: 16rem;
}

.card-back {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    visibility: hidden;
}

.card-front {
    z-index: 10;
}

.card-front,
.card-back {
    -webkit-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    /* box-shadow: 0 .5rem 2rem rgba(255,255,255, 0.5); */
}

.card-main:hover .card-front {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.card-main:hover .card-back {
    visibility: visible;
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
}

.trackp {
    font-size: 0.9rem;
}

.trackh5 {
    font-size: 1.1rem;
}
