#left{
    background-color: #00D5FF;
}
#right{
    padding: 0;
}
#parentRow{
    margin: 0;
}
.container-fluid{
    padding: 0;
    background-color: black;
}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.carousel-inner>.item>img {
    height:100%;
}