.card{
    height: 23rem;
    background-color:black;
    color:white;
    border-radius: 16px;
    margin-top: 150px;
}
.card-img-top{
    margin-top: -11vh;
    width: 250px;
    height: 250px;
    
}
#bodyDivider{
    height:2px; 
    width:80%; 
    border-width:0; 
    color:#FFFAFF; 
    background-color:#FFFAFF;
}
#company{
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    color: #00D5FF;

}
.card-title{
    text-transform: capitalize;
    font-family: 'Lato',sans-serif;
    font-weight: 900;
}
#profile{
    width: 45%;
    height: 45%;
}