nav {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    height: 4rem !important;
}

.devspace-navbar {
    display: none !important;
}

.nav-item {
    margin: 0 1rem;
}

.nav-item {
    transition: all 0.5s ease;
}

.nav-item:hover {
    border-bottom: 2px solid #FFFAFF !important;
}

.nav-item > a {
    padding: 0;
}

.scroll {
    background-color: #141414 !important;
    display: flex !important;
}


.nav-link {
    color: white !important;
    padding: 0;
}

#navbar-collapse {
    background-color: #141414 !important;
    width: 100vw !important;
}

#divider {
    width: 2px;
    height: 56px;
    background-color: #FFFAFF;
}

@media only screen and (max-width: 992px) {
    .nav-item {
        margin: 1rem;
    }

    nav {
        background-color: #141414 !important;
    }

    #divider {
        height: 2px;
        width: 6.5rem;
        background-color: #FFFAFF;
    }
}
