nav {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.nav-item {
    margin: 0 1rem;
}

.nav-item > a {
    padding: 0;
}

.scroll {
    background-color: #141414 !important;
}


.nav-link {
    color: white !important;
    padding: 0;
}

#divider {
    width: 2px;
    height: 56px;
    background-color: #FFFAFF;
}

@media only screen and (max-width: 992px) {
    .nav-item {
        margin: 1rem;
    }

    nav {
        background-color: #141414 !important;
    }

    #divider {
        height: 2px;
        width: 6.5rem;
        background-color: #FFFAFF;
    }
}
