.faq-card {
	border-bottom: 1px solid #fffaff !important;
}

.faq-container > button {
	background-color: transparent !important;
	border: none !important;
	height: 1.5rem;
}

.faq-container > button > img {
	height: 100%;
}

.p-light {
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
}