#title{
    color: #00D5FF;
}

#main {
    background-color : black;
    border-radius: 0;
}

#message {
    position: relative;
    color: white;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    z-index: 1000;
}

.snippet-main {
    position: relative;
}

.snippet-image {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    height: 10rem;
    width: auto;
}
/* 
@media only screen and (min-width: 450px) {
    .snippet-image {
        position: absolute;
        bottom: -3.5rem;
        right: -3rem;
        height: 10rem;
        width: auto;
    }
} */