.li {
    color: #00d5ff;
    list-style-type: '✓';
}
li > span {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
}
.cost {
    color: #fffaff;
    opacity: 0.4;
    font-weight: 400;
    font-size: 0.777777777778rem;
    font-style: italic;
}
.title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.card {
    border-radius: 0;
}

.register-now-card {
    height: 35rem !important;
    margin-top: 3rem !important;
}

.register-now-button {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s ease-in-out;
}

.register-now-button::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    background-color: #00d5ff !important;
}

.register-now-button:hover {
    background-color: #00d5ff !important;
    color: black !important;
    transform: translate(-50%, -5px);
    box-shadow: 0 0.5rem 1rem rgba(255,255,255,0.5);
}

.register-now-button:active {
    background-color: #00d5ff !important;
    color: black !important;
    transform: translateX(-50%);
    box-shadow: none;
}

.register-now-button:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.get-your-badge-button {
    transition: all 0.2s ease-in-out;
}

.get-your-badge-button::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    background-color: black !important;
}

