html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 
    /* background-color: #00d5ff !important; */
}

/*BUTTONS*/

button:focus,
a:focus {
    outline: none;
}

.secondary-button {
    background-color: #141414 !important;
    border: white 2px solid !important;
    padding: 14px 20px !important;
    border-radius: 0 !important;
    transition: 0.3s;
}

.secondary-button:hover {
    background-color: #00d5ff !important;
    color: black !important;
    border: #00d5ff 2px solid !important;
}

.primary-button {
    background-color: #00d5ff !important;
    padding: 14px 20px !important;
    color: black !important;
    border-radius: 0 !important;
    border: none !important;
    transition: 0.3s;
}

.primary-button:hover {
    background-color: black !important;
    color: white !important;
}

.disabled-button,
.disabled-button:hover {
    background-color: gray !important;
    color: black !important;
    cursor: not-allowed !important;
}

/*UTILITY CLASSES*/

.white {
    color: #fffaff !important;
}

.black {
    color: #141414 !important   ;
}

.white-bg {
    background-color: #fffaff !important;
}

.black-bg {
    background-color: black !important;
}

.blue-bg {
    background-color: #00d5ff !important;
}

a:hover {
    color: #00d5ff !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
}
.card {
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.16);
}

.black-img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all 0.5s ease-out;
}

.black-img:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.card:hover > img {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.footer-right {
    justify-content: center;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
    display: none;
}

/* FONT SIZES*/

@media only screen and (min-width: 1920px) {
    html,
    body {
        font-size: 22px;
    }
}

@media only screen and (max-width: 813px) {
    html,
    body {
        font-size: 12px;
    }

    button {
        font-size: 15px !important;
    }
}

@media only screen and (max-width: 768px) {
    .footer-right {
        justify-content: flex-start !important;
    }
}
