name: deploy

on:
  push:
    branches: [ main ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
    - name: push to gh-pages
      env:
        CNAME: devspace21.csivit.com
        FOLDER_NAME: build
        BRANCH_NAME: main
      run: |
        npm ci
        npm run build
        echo $CNAME > build/CNAME
        git config user.name csivitu
        git add -f $FOLDER_NAME
        git commit --amend --no-edit
        git push origin `git subtree split --prefix $FOLDER_NAME $BRANCH_NAME`:gh-pages --force ||  git subtree push --prefix $FOLDER_NAME origin gh-pages
